// Local overrides to config, modify this instead of global config.
//--- Uncomment screepsplusToken for share datas on TooAngels datasboard on screepspl.us
//--- You can acces datas contacting tooangel on #the_angels slack channel or use your token.
//config.stats.screepsplusToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InRvb2FuZ2VscyIsImlhdCI6MTQ4MzU2MTU3OSwiYXVkIjoic2NyZWVwc3BsLnVzIiwiaXNzIjoic2NyZWVwc3BsLnVzIn0.NhobT7Jg8bOAg-MYqrYsgeMgXEVXGVYG9s3G9Qpfm-o';
config.stats.enabled = true;
config.stats.summary = true;
config.profiler.enabled = false;