// Local overrides to config, modify this instead of global config.
//--- Uncomment screepsplusToken for share data on the shared dashboard on screepspl.us
//--- You can access the data with username `tooangels` and password `tooSecretPassword`
//config.stats.screepsPlusToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InRvb2FuZ2VscyIsImlhdCI6MTQ4MzU2MTU3OSwiYXVkIjoic2NyZWVwc3BsLnVzIiwiaXNzIjoic2NyZWVwc3BsLnVzIn0.NhobT7Jg8bOAg-MYqrYsgeMgXEVXGVYG9s3G9Qpfm-o';
config.stats.enabled = true;
config.stats.summary = true;
config.profiler.enabled = false;

//--- Enables a summary with all rooms for every tick
//global.config.tickSummary.bucket = true;
//global.config.tickSummary.gcl = true;
//global.config.tickSummary.room = true;
//global.config.tickSummary.separator = true; // Adds a seperatorline after each tick

//---  Enables pixel generation for live server.
//global.config.pixel.enabled = true;
